@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,);

/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* LAYOUT
=========================== */
* {
	margin: 0;
}
html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -250px; /* the bottom margin is the negative value of the footer's height */
}

.container {
	font: 300 18px/1.341em 'Source Sans Pro', 'Myriad Pro', 'Helvetica', 'Arial', sans-serif;
	margin: 0 auto;
	width: 960px;
	padding: 51px 15px 0;
}

.header {
	height: 85px;
	margin: 0 0 72px;
}

.content {
	margin: 0 0 72px 0;
	overflow: auto;
}
.push {
	height: 250px;
}

.footer {
	height: 250px;
	background: #191919;
	color: #ffffff;
	overflow: auto;
}


/* FOOTER
=========================== */
.footer-container {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
}

.footer p {
	font-weight: 300;
	font-size: 0.9em;
	margin: 12px 0;
}

.footer dl {
	font-weight: 300;
}

.footer dt {
	float: left;
	width: 25%;
	display: inline-block;
	margin: 0 0 18px;
}

.footer dd {
	margin: 0 0 18px;
	float: left;
	width: 75%;
	display: inline-block
}

.footer-sitemap {
	margin-top: 67px;
}

.footer-sitemap li {
	display: block; 
	float: left;
}

.footer-sitemap li a {
	font-style: normal;
	text-transform: uppercase;
	font-size: 0.7em;
}

.footer-sitemap li a:after {
	color: #fff;
	content:"|";
	margin: 0 6px;
}

.footer-sitemap li a:hover {
	text-decoration: underline;
	border-bottom: 0;
}

p.footer-copy{
	font-style: italic;
	font-size: 12px;
	word-spacing: 2px;
	margin: 24px 0 0 0;
}

.footer-copy a {
	color: #fff;
	border-bottom: 1px solid #fff;
	padding-bottom: 1px;
}

/* HEADER
=========================== */
.logo {
	float: left;
}

.logo a:hover {
	border: none;
}

	/* NAVIGATION
	=========================== */
.navigation {
	float: right;
	padding-top: 30px;
}
.main-nav {
	list-style: none;
	margin: 0;
}

.main-nav li {
	float: left;
	margin: 0 3px;
}

.main-nav li a {
	padding: 6px 10px 2px 10px;
	color: #191919;
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
}

.main-nav li a:hover {
	border-bottom: 1px solid #191919;
}

.skip-link {
	display: none;
}

/* CONTENT
=========================== */

/* TYPOGRAPHY
=========================== */
h1,h2,h3,h4,h5,h6,p,a, dl, ul, ol {
	font-family: 'Source Sans Pro', 'Myriad Pro', 'Helvetica', 'Arial', sans-serif;
}

p {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.54em;
	margin: 0 0 12px;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 600;
	line-height: 1.4em;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 18px;
	margin: 30px 0 12px;
}

h3 {
	font-size: 18px;
}

a {
	color: #ff921e;
	text-decoration: none;
	font-style: italic;
}
a:hover {
	border-bottom: 1px solid #ff921e;
}

/* GRIDS
=========================== */
.row {
	clear: both;
	overflow: auto;
}
.col1 {
	width: 540px;
	margin: 0 auto;
}

.col3 {
	float: left;
	width: 276px;
	margin: 0 0 0 66px;
}
.col2 {
	width: 440px;
	margin-left: 80px;
	float: left;
}
	
.col2_startpage_left {
	float: left;
	width: 480px;
}

.col2_startpage_right {
	float: left;
	width: 380px;
	margin-left: 100px;
}

.col2_left {
	float: left;
	width: 493px;
}
.col2_right {
	float: left;
	width: 300px;
	margin-left: 100px;
}

.first {
	margin-left: 0;
}

/* STARTPAGE
=========================== */
.startpage {
	margin-bottom: 84px;
	overflow: auto;
}
.startpage-content img {
	width: 42%;
	height: auto;
}

.startpage-content h2 {
	font-weight: 300;
	font-size: 36px;
	line-height: 41px;
}

.startpage-content h2 strong {
	font-weight: 600 !important;
	color: #006878;
}

.startpage-content h3 {
	font-weight: 300;
	font-size: 26px;
}

.startpage-form-set {
	width: 100%;
	margin: 33px 0;
}

.startpage-form-set.first-form-set {
	margin-top: 0;
}
.startpage-form-set > label {
	line-height: 32px;
	font-size: 1.3em;
	font-weight: 200;
}

.startpage-form input {
	font-family: 'Source Sans Pro', 'Myriad Pro', 'Helvetica', 'Arial', sans-serif;
}

.startpage-form input[type='submit'] {
	border-radius: 18px;
	border: none;
	width: 100%;
	background: url('../img/orange_button_bg.png') repeat-x;

	color: #fff;
	padding: 12px 0;
	font-size: 2em;
	font-weight: 600;
	cursor: pointer;
}

.startpage-form input[type='submit']:hover {
	background: url('../img/orange_button_bg_hover.png') repeat-x;
}

.inputs {
	float: right;
}

.inputs label[for] {
	font-weight: 600;
	position:relative;
	top: 3px;
	font-size: 1.2em;
}

input[type="radio"] {
    content: url('../img/radio.png');
    margin: 0 6px;
}

input[type="radio"]:checked{
    content: url('../img/radio-checked.png');
}


.startpage-form input[type='text'],
.startpage-form select {
	float: right;
	width: 200px;
	font-size: 0.9em;
	padding: 5px 12px;
    border: none;
    border-radius: 6px;
    color: #000;
    background-color: #f2f2f2;
    height: 32px;
}

.startpage-form input[type='text'] {
	width: 170px;
}

.notIE {
	float: right;
}
.notIE label {
    position: relative;
    display: inline-block;
}

select {
    display: block;
    -webkit-appearance: none;
}

.notIE label:after {
    content: '';
    width: 7px;
    height: 14px;
    position: absolute;
    display: inline-block;
    top: 8px;
    right: 8px;
    background: url('../img/select_arrows.png') no-repeat right center white;
    pointer-events: none;
}

@media screen and (min-width:0\0) { 
    .notIE label:after
    {
        display:none;
    }
}

.distance-from-orebro-input {
	display: none;
}

.startpage-info-box i{
	float: left;
	width: 50px;
	margin-right: 16px;
	position: relative;
	top: 19px;
	height: 100%;
}

.startpage-info-box h2 {
	color: #006878;
}

.startpage-info-box p {
	margin: 16px 0 36px;
}

	/* POPUP
	=========================== */
.result-popup {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 100%;
	background: rgba(255,255,255,.9);
	display: none;
}

.result-popup-container {
	margin: 5% auto;
	background: url('../img/screen_popup.png');
	height: 267px;
	width: 420px;
	padding: 150px 125px;
	text-align: center;
	position: relative;
}

.result {
	line-height: 1em;
	font-size: 84px;
	font-weight: 200;
	color: #231f20;
}
.result span {
	font-weight: 700;
	color: #006878;
}
.result-text {
	font-size: 20px;
	line-height: 26px;
	font-weight: 400;
	color: #006878;
}
.result-tax {
	font-size: 20px;
	font-weight: 200;
}

.wpcf7 {
	margin: 36px 0 !important;
	font-family: 'Source Sans Pro', 'Myriad Pro', sans-serif;
}

#wpcf7-f30-p4-o1 label {
	font-weight: 300;
	margin-bottom: 12px;
	font-size: 14px;
}
#wpcf7-f30-p4-o1 input {
	font-family: 'Source Sans Pro', 'Myriad Pro', sans-serif;
	font-weight: 200;
}

.popup-inputs {
	overflow: auto;
	margin: 12px 0;
}
#wpcf7-f30-p4-o1 input[type="text"] {
	border-radius: 12px 0 0 12px;
	width: 240px;
	padding: 0 10px;
	outline: none;
	border: none;
	background: #f1f1f1;
	font-size: 1em;
	float: left;
	height: 41px;
	line-height: 41px;
}

#wpcf7-f30-p4-o1 input[type="submit"] {
	border: none;
	border-radius: 0 12px 12px 0;
	height: 41px;
	line-height: 41px;
	padding: 0;
	width: 160px;
	border: none;
	background: url('../img/orange_button_bg.png') repeat-x;
	font-size: 1em;
	font-weight: 600;
	cursor: pointer;
	float: left;
	color:#fff;
}
#wpcf7-f30-p4-o1 input[type="submit"]:hover {
	background: url('../img/orange_button_bg_hover.png') repeat-x;
}

#wpcf7-f30-p4-o1 ::-webkit-input-placeholder {
   color: #231f20;
   font-weight: 300;
   font-style: italic;
   padding-left: 30px;
   font-size: 14px
}

#wpcf7-f30-p4-o1 :-moz-placeholder { /* Firefox 18- */
   color: #231f20;
   font-weight: 300;
   font-style: italic;
   padding-left: 30px;
   font-size: 14px;
}

#wpcf7-f30-p4-o1 ::-moz-placeholder {  /* Firefox 19+ */
   color: #231f20;
   font-weight: 300;
   font-style: italic;
   padding-left: 30px;
   font-size: 14px;
}

#wpcf7-f30-p4-o1 :-ms-input-placeholder {  
   color: #231f20;
   font-weight: 300;
   font-style: italic;
   padding-left: 30px;
   font-size: 14px;
}

#wpcf7-f30-p4-o1 .wpcf7-response-output {
	margin: 6px 0;
}

.popup-links {
	margin: 24px 0;
	font-size: 14px;
}
.popup-links a {
	color: #000000;
	font-weight: 600;
	font-style: normal;
	margin: 0 24px;
	font-size: 1.1em;
}

.popup-links a:hover { 
	border-bottom: 1px solid #000;
}

.result-popup p.info {
	text-align: center;
	font-size: 14px;
	position: absolute;
	top: 100px;
}

.popup-close {
	position: absolute;
	top: 50px;
	right: 20%;
	font-size: 16px;
	cursor: pointer;
	font-weight: 700;
	color: #231f20;
}

.popup-close:before {
	font-size: 2em;
	position: relative;
	top: 6px;
	content: "× ";
	color: #006878;
	font-weight: 700;
}

.popup-close:hover {
	color: #006878;
}

/* KONTAKT
=========================== */
.contact-form-set {
	display: block;
	margin: 12px 0;
	overflow: auto;
}

#wpcf7-f89-p13-o1 label {
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	width: 18%;
	display: block; 
	float: left;
	line-height: 30px;
}

#wpcf7-f89-p13-o1 input {
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0 2%;
	font-weight: 300;
	width: 78%;
	display: block; 
	float: left;
	font-size: 18px;
	line-height: 30px;
	border: none;
	outline: none;
	background: #f1f1f1;
	border-radius: 6px;
}

#wpcf7-f89-p13-o1 input[type="submit"] {
	float: right;
	width: 48%;
	padding: 6px 0;
	background: url('../img/orange_button_bg.png') repeat-x;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 22px;
	cursor: pointer;
}

#wpcf7-f89-p13-o1 input[type="submit"]:hover {
	background: url('../img/orange_button_bg_hover.png') repeat-x;
}

#wpcf7-f89-p13-o1 textarea {
	padding: 0 2%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	line-height: 30px;
	font-size: 18px;
	width: 96%;
	display: block; 
	float: left;
	border: none;
	outline: none;
	background: #f1f1f1;
	border-radius: 6px;
	height: 165px;
	resize: none;
}

.contact-information {
	font-size: 18px;
}
.contact-information dt {
	color: #006878;
	width: 47%;
	text-align: right;
	float: left;
	margin: 6px 5% 6px 0;
}

.contact-information dt.contact-information-adress {
	margin: 16px 5% 3px 0;
}

.contact-information dd.contact-information-adress {
	margin: 16px 0 3px 0;
}

.contact-information dd {
	width: 47%;
	text-align: left;
	float: right;
	margin: 6px 0 6px 0;
}

.contact-information dd.contact-information-last {
	margin: -6px 0 6px 0;
	margin-left: 52%;
}

/* VÅRA KAMEROR
=========================== */
.camera-spec dt,
.camera-spec dd{
	font-size: 13px;
	line-height: 1.9em;
}

.camera-spec dt {
	font-weight: 600;
	float: left;
	color: #006878;
}

.camera-spec dt:after {
	content: ": ";
	margin-right: 6px;
}

.camera-spec dd {
	font-weight: 400;
}

/* VAD INGÅR I PRISET
=========================== */
.includes {
	font-weight: 300;
	margin-left: 149px;
	list-style: none;
}

.includes li {
	font-size: 18px;
	margin: 18px 0;
}

.includes li:before {
	content: url('../img/mini-check.png');
	position: relative;
	top: 8px;
	margin-right: 12px;
}

.includes-sidebar-text {
	width: 85%;
}

/* HUR GÅR DET TILL
=========================== */
.title-margin-left-how {
	margin-left: 160px;
}
.how-bg {
	margin: 80px 0;
	width: 539px;
	height: 524px;
	display: block;
	position: relative;
	background: url('../img/how_background.png');
}
.how-steps {
	list-style: none;
	margin: 0;
}

.how-steps li img {
	margin-right: 20px;
	float: left;
}

.how-steps li span {
	line-height: 26px;
}

.how-step-1 {
	width: 477px;
	padding-right: 20px;
	position: absolute;
	top: -20px;
	left: 0;
}
.how-steps li.how-step-1 img {
	position: relative;
	left: -50px;
}
.how-steps li.how-step-1 span {
	position: relative;
	top: 0;
	width: 350px;
	float: left;
	margin-left: -50px;
}

.how-step-2 {
	position: absolute;
	top: 95px;
	left: 125px;
}

.how-steps li.how-step-2 img {
	margin-right: 15px;
}

.how-steps li.how-step-2 span {
	position: relative;
	top: 13px;
}

.how-step-3 {
	position: absolute;
	top: 220px;
	left: -40px;
}

.how-steps li.how-step-3 img {
	position: relative;
}

.how-steps li.how-step-3 span {
	position: relative;
	top: -10px;
	width: 388px;
	float: left;
}

.how-step-4 {
	position: absolute;
	top: 367px;
	left: -15px;
}

.how-steps li.how-step-4 img {
	position: relative;
}

.how-steps li.how-step-4 span {
	position: relative;
	width: 388px;
	float: left;
}

.how-step-5 {
	position: absolute;
	top: 496px;
	left: 95px;
}

.how-steps li.how-step-5 img {
	position: relative;
}

.how-steps li.how-step-5 span {
	position: relative;
	width: 335px;
	float: left;
}

/* Den nya kameralagen
=========================== */
.new-law-sidebar-text {
	width: 73%;
}

.new-law-sidebar-image {
	margin-left: 33px;
	max-width: 58%;
	height: auto;
}

/* HELPERS
=========================== */

.col2_right img{
	margin-bottom: 24px;
	display: block
}

.title-margin-left {
	margin-left: 149px;
}

.featured {
	font-weight: 400;
	color: #006878;
}

strong {
	font-weight: 400;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

.right {
	float: right
}




